<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button mode="md" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form (submit)="ActionChangePassword()" id="boxform">

    <ion-input label="Current Password" label-placement="floating" fill="outline" [(ngModel)]="ChangePasswordData.oldpassword" name="oldpassword" type="password" clearOnEdit="false" [disabled]="hasClick"></ion-input>
    <!-- <ion-button (click)='hideShowPassword()' clear size="small" slot="end" icon-only>
    <ion-icon [name]="passwordIcon"></ion-icon>
    </ion-button> -->

    <ion-input class="mt-2" label="New Password" label-placement="floating" fill="outline" type="password" [(ngModel)]="ChangePasswordData.password"  name="password" clearOnEdit="false" [disabled]="hasClick"></ion-input>
    <!-- <ion-button (click)='newhideShowPassword()' clear size="small" slot="end" icon-only>
    <ion-icon [name]="newpasswordIcon"></ion-icon>
    </ion-button> -->

    <ion-input class="mt-2" label="Repeat New Password" label-placement="floating" fill="outline" type="password" [(ngModel)]="ChangePasswordData.cpassword"  name="cpassword" clearOnEdit="false" [disabled]="hasClick"></ion-input>
    <!-- <ion-button (click)='confirmhideShowPassword()' clear size="small" slot="end" icon-only>
    <ion-icon [name]="confirmpasswordIcon"></ion-icon>
    </ion-button> -->

    <ion-button class="mt-2" expand="block" type="submit" color="primary" mode="ios" *ngIf="!hasClick">Submit</ion-button>
    <ion-button mode="ios" expand="block" color="primary" type="button" *ngIf="hasClick"><ion-spinner name="crescent"></ion-spinner></ion-button>

  </form>

</ion-content>
